#restaurant-table tr.restaurant:hover, #restaurant-table tr.restaurant:focus{ 
    cursor:pointer; 
    background-color: #f5f5f5;
}
#restaurant-table tr.restaurant:active{ 
    cursor:pointer; 
    background-color: #eee;
}